#chat{
    position: absolute;
    bottom: 0;
    left: 0;

    display: none;

    width: 210px;
}
#chat_form{
    display: none;
}
#chat input[name=send]{
    border-top-right-radius: 4px;
    display: table-cell;
}
#chat input[name=message]{
    width: 100%;
    height: 24px;
    padding: 0;
}
#messages{
    pointer-events: none;
    background-color: rgba(0,0,0,0.1);
}

#chat_open_button{
    border-top-right-radius: 5px;
    width: 80px;
}

.inner-table{
    display: table;
    width: 100%;
}
.inner-table-span {
    display: table-cell;
    width: 100%;
    padding-right: 5px;
}


#options_button{
    position: absolute;
    bottom: 0;
    right: 0;

    border-top-left-radius: 5px;
}

#webrtc_call_button{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    border-bottom-right-radius: 5px;
}