body {
    margin: 0;
    font-family: 'Arimo', sans-serif;

    overflow: hidden;
}

#ingame_surface_layer1 {
    position: absolute;
    background-color: #f4f4f4;
    background-image: url("../img/noisy-texture-64x64-o6-d10-c-f0f0f0-t1.png");
}

#ingame_surface_layer2 {
    position: absolute;
}

.floating_box {
    margin: auto;
    position: relative;
    background-image: url("../img/noisy-texture-64x64-o6-d10-c-f0f0f0-t1.png");

    padding: 1em;
    width: 200px;

    border: 1px solid #cbcbcb;
    background-color: #e6e6e6;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.44);
}

@media all and (max-width: 200px) {
    .floating_box {
        width: 100%;
    }
}

a {
    color: #2B81AF;
    cursor: pointer;
}

a:hover {
    color: #0D3349;
}

.btn {
    background-color: #DDDDDD;
    color: #444444;
    cursor: pointer;
    padding: 5px;
    box-shadow: 0 0 3px black;
    transition: all 0.5s;

    text-align: center;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn:hover {
    background-color: #ffffff;
    box-shadow: 0 0 2px darkgray;
}

.btn:disabled {
    opacity: 0.5;
}

.small{
    font-size: 0.8em;
}

.big{
    font-size: 1.5em
}

#intro {
    display: none;
}

#player_sample {
    width: 67px;
    height: 57px;
    padding-top: 10px;
    margin-left: 5px;
    float: right;
    border-radius: 360px;
    border: solid 4px rgba(0, 0, 0, 0.5);
    background-color: #aaaaaa;
    color: #ffffff;
    font-size: 0.8em;
    text-align: center;
}

#info {
    position: absolute;
    left: 0;
    top: 0;
    color: red;
}

#gameOver {
    display: none;
}

#win {
    display: none;
}

/*HELP box*/
#help{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 90%;

    display: none;
    text-align: center;
    font-size: 1em;
}
#help p{
    max-width: 600px;
    margin: auto;
}
#help .btn{
    width: 100px;
    margin: auto;
}
#help img{
    height: 60px;
}

/*Select room part*/
#rooms{
    padding: 5px 0 5px 0;
}
#rooms select{
    width: 184px;
    height: 25px;
}

/*PIN box telling player to wait for othe rplayer.*/
#pin{
    display: none;
}

/*SETTINGS*/
#settings{
    display: none;

    padding: 0.5em;
    width: 230px;
}
#settings ul{
    list-style-type: none;
    padding: 0;
}
#settings ul li{
    list-style-type: none;
    margin-bottom: 10px;
}
#settings audio{
    width: 100%;
}
.btn-round{
    border-radius: 4px;
    margin: 5px 0 5px 0;
}

/*CALL*/
#incoming_call{
    display: none;
}