#logo{
    width: 27px;
    margin-right: 2px;
}
#register h1{
    margin-top: 0;
    font-size: 1.8em;
}
#register input[name=playerName]{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 150px;
    padding: 4px;
    border-right: none;
}
#register input[name=submitButton]{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 4px 5px 4px 5px;
    margin-left: -4px;
    cursor: pointer;
    background-color: red;
    color: whitesmoke;
    outline: none;
    border-left: none;
    border-top-color: rosybrown;
    border-right-color: rosybrown;
    border-bottom-color: gray;
}
#register input[name=submitButton]:hover{
    padding-left: 10px;
    padding-right: 0px;
    transition: all 0.5s;
    color: red;
    background-color: whitesmoke;
    border-top-color: brown;
    border-right-color: brown;
    border-bottom-color: #fff;
}
#register_message{
    margin-top: 10px;
    padding: 3px;
    display: none;
    border-radius: 3px;
}
#register_message.error{
    border: 1px solid red;
    background-color: lightpink;
    color: darkred;
}
#register_message.info{
    border: 1px solid darkblue;
    background-color: lightcyan;
    color: darkslateblue;
}